<!DOCTYPE html>
<html ng-app="AngularClass">
<head lang="en">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="app.js"></script>
    <script src="components/main/view2.js"></script>
    <script src="components/main/main-controller.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="MainController">
    <div class="container-fluid">
        <div class="row">
            <h3>Lesson 1</h3>
            <div class="col-md-12 lesson1">
                {{saludo}}
            </div>
        </div>

        <div class="row">
            <h3>Lesson 2</h3>
            <div class="col-md-12 lesson2">
                <label for="name" class="control-label"></label>
                <!- cada vez que se modifique el valor del input se modificará el valor del atributo name -->
                <input type="text" class="form-control" name="name" id="name" ng-model="name"/>
                <p>your name is : <b>{{name}}</b></p>
            </div>
        </div>


        <div class="row">
            <h3>Lesson 3</h3>
            <div class="col-md-12">
                <!- ng if -->
                <div ng-if="name == 'pikachu'">
                    <p>Pikachu mola mazo</p>
                </div>
            </div>
        </div>

        <div class="row">
            <h3>Lesson 4</h3>
            <div class="col-md-12">
                <div ng-if="isPikachu()">
                    <p>Pikachu esta en la frase!!</p>
                </div>
            </div>
        </div>

        <div class="row">
            <h3>Lesson 5: TODO LIST</h3>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 form-label" for="todo">TODO element</label>

                    <div class="col-md-9">
                        <input class="form-control" type="text" name="todo" id="todo" ng-model="todo"/>
                    </div>

                    <div class="col-md-1">
                        <button class="btn btn-success" ng-click="addTodo()"><span class="glyphicon glyphicon-list"></span></button>
                    </div>
                </div>
            </div>

            <div class="col-md-offset-2 col-md-9">
                <ul class="list-group list-unstyled">
                    <li class="list group-item" ng-repeat="t in todoList"><!-- ng-repeat crea su propio scope-->
                        <div class="col-md-12">
                          <span>{{t}}</span>
                          <span class="glyphicon glyphicon-remove-circle" ng-click="removeTodo($index)"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="footer row">
        <div class="col-md-12">
            <div class="col-md-3 col-md-offset-3">
                <button class="col-md-12 btn btn-info">
                    <a class="col-md-12" href="#view1">go to view1</a>
                </button>
            </div>
            <div class="col-md-3">
                <button class="col-md-12 btn btn-info">
                    <a class="col-md-12" href="#view2">go to view2</a>
                </button>
            </div>
            <div class="row">
                <!-- Cada vista referenciada en la vista es carga en la directiva ng-view-->
                <div class="col-md-offset-3 col-md-6" ng-view></div>
            </div>
        </div>
    </div>

    <div ng-sparkline ng-city="Barcelona" width='400'></div>
</body>
</html>
